@import "tailwindcss";

:root {
  --background: #f7f9fa;

  --text: #1f2933;
  --text-secondary: #5f6b76;

  --primary: #1e566c;
  --primary-light: #2e6f87;
  --primary-dark: #174454;

  --border: #d7dee3;
  --section: #f7f9fa;
}

html {
  scroll-behavior: smooth;
}

body {
  background: var(--background);
  color: var(--text);
  overflow-x: hidden;
}